/* Defaults */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

/* style variables */
:root {
    /* colors */
    --clr-white: 0, 0%, 100%;
    --clr-lightgray: 212, 45%, 89%;
    --clr-grayblue: 220, 15%, 55%;
    --clr-darkblue: 218, 44%, 22%;
    /* fonts */
    --fw-400: 400;
    --fw-700: 700;
}

/* custom Styles  */

body {
    width: 100%;
    background-color: hsl(var(--clr-lightgray)); 
}    

.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.card {
    border-radius: 25px;
    width: 350px;
    display: grid;
    grid-template-rows: 1fr;
    background-color: hsl(var(--clr-white));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}
.card img {
    width: 100%;
    border-radius: 15px;
}
.card h2 {
    margin-top: 20px;
    padding: 0 25px;
    font-family: 'Outfit';  
    font-weight: var(--fw-700);   
    text-align: center;   
}
.card p {
    margin: 20px 0;
    padding: 0 25px;
    font-size: 15px;
    font-family: "outfit"; 
    font-weight: var(--fw-400);   
    text-align: center;
}

@media screen and (max-width: 375px) {
    .card {
        width: 300px;
    }
}